<div class="container-fluid">
    <div class="row">
        <!--    menu-->
        <div class="col-sm-auto bg-light sticky-top">
            <app-menu [itemName]=this.itemName [role]=this.role></app-menu>
        </div>
        <!--    /menu-->
        <div class="col-sm p-3 min-vh-100">
            <!--      header-->
            @if (this.user) {
                <h2>Редактор:&nbsp;{{ this.login }}</h2>
            }
            <hr/>
            <!--      /header-->
            <div class="container">
                <div class="d-grid gap-2 d-md-flex justify-content-md-between">
                    <h3>Управление изображениями</h3>
                    <button (click)="openPopupAddImage()" class="btn btn-primary" type="button">Добавить</button>
                </div>
                <!--            success alert-->
                @if (this.alertMessage) {
                    <div class="alert alert-success alert-dismissible fade show my-4" role="alert">
                        {{ this.alertMessage }}
                        <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                }
                <!--            /success alert-->
                <div class="row">
                    @for (item of images; track item) {
                        <div class="col-sm my-3">
                            <div class="card text-end" style="width: 18rem">
                                <app-image-card
                                        [record]=item></app-image-card>
                                <div class="card-body">
                                    <button type="button" class="btn btn-link"
                                            (click)="openPopupDeleteImage(item.generatedName)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                        </svg>
                                    </button>

                                </div>
                            </div>
                        </div>
                    } @empty {
                        <div class="text-center">
                            <img src="assets/img/empty_list.jpg" class="w-50" alt="pet">
                        </div>
                    }
                </div>
            </div>
            <!--      modal view-->
            <div class="modal bg-light bg-opacity-75" tabindex="-1" role="dialog"
                 [ngStyle]="{'display':displayStyleDeleteImage}">
                <form>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Удаление изображения</h4>
                            </div>
                            <div class="modal-body">
                                <div class="card text-end">
                                    <!--                                    @if(this.base64){-->
                                    <img src="{{this.base64}}" class="card-img-top" alt="">
                                    <!--                                    }-->
                                    <div class="card-body">
                                        Удалить данное изображение?
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="button" (click)="deleteImage()">Удалить</button>
                                <button type="button" class="btn btn-primary" (click)="closePopupDeleteImage()">Отмена
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--      modal view-->
            <!--      modal view-->
            <div class="modal bg-light bg-opacity-75" tabindex="-1" role="dialog"
                 [ngStyle]="{'display':displayStyleAddImage}">
                <form>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Добавление изображения</h4>
                            </div>
                            @if (this.alertWarning) {
                                <div class="alert alert-warning alert-dismissible fade show my-4 mx-3" role="alert">
                                    {{ this.alertWarning }}
                                    <button (click)="closeAlertWarning()" type="button" class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            }
                            <div class="modal-body">
                                <div class="card text-end">
                                    @if (this.newBase64) {
                                        <img src="{{this.newBase64}}" class="card-img-top" alt="">
                                    }
                                    <input (change)="this.fileSelect($event)"
                                           accept="image/*"
                                           class="form-control"
                                           type="file"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="button" (click)="createImage()">Добавить</button>
                                <button type="button" class="btn btn-primary" (click)="closePopupAddImage()">Отмена
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--      modal view-->
        </div>
    </div>
</div>
